# Игнорируем папку сборки CMake
/build/

# Игнорируем настройки VS Code компилятора под конкретный ПК
/.vscode/ipch/
/.vscode/vcpkg/

# Игнорируем файлы логов и временные исполняемые файлы
*.exe
*.a
*.o
*.obj